<!--dwitter/templates/dwitter/password_change_form.html-->

{% extends 'base.html' %}

{% block content %}

<div class="block">
    <br>
    <div class="card">
        <div class="card-content">
            <div class="column is-one-third">
                <p class="title is-4">
                    Change password
                </p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button class="button is-success is-light is-outlined is-fullwidth"
                            type="submit" value="Change">Change
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}
